<div class="card" ng-show="state === 'cartable'">
    <div class="card-header">
        <h2 class="main-title">کارتابل پیام های ورودی</h2>
    </div>
    <div class="card-body">
        <portal-grid obj="grid"></portal-grid>
    </div>
</div>
