@model Ahora.WebApp.Models.App.ShoppingCartItemListModel
@{
    ViewBag.Title = "تکمیل فرآیند خرید";
}
@section bodySection{
    @if (Model.AvailableShoppingCartItem != null && Model.AvailableShoppingCartItem.Count > 0)
    {
        <div id="load"></div>
        @Html.Partial("_PartialBasket", Model)

        @Html.Partial("_PartialUserAddress", Model)
    }
    else
    {
        { Html.RenderAction("CartEmpty", "ShoppingCart"); }
    }
}

@section scripts{
    <script src="~/scripts/custom/Quantity.js"></script>
}