@model string
<div class="mt-3" id="shoppingCartItemCount">
    <a href="@Url.RouteUrl("Cart")">
        <i class="fa fa-shopping-basket"></i>
        <span class="badge badge-light" style="position:absolute;top:8px;">@Model</span>
    </a>
</div>
