<section ng-show="main.state ==='cartable'">
    <button class="btn btn-success btn-circle pull-left" ng-click="main.changeState.add();"><i class="fa fa-plus"></i></button>
    <div class="card">
        <div class="card-header">
            <div class="pull-left" title="جست و جو" ng-click="search.searchPanel = !search.searchPanel"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <div class="card-body" ng-show="search.searchPanel">
            <div class="row">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">عنوان تصویر کشویی</span>
                    </div>
                    <input ng-model="search.Model.Title" maxlength="100" type="text" autofocus="" class="form-control meta" placeholder="عنوان تصویر کشویی جهت جست و جو">
                    <div class="input-group-append">
                        <span class="input-group-text"> {{search.Model.Title.length > 0 ? search.Model.Title.length : 0}}/100</span>
                    </div>
                </div>
            </div>
            <div class="btn-group-justified pull-left">
                <button type="button" class="btn btn-primary" ng-click="grid.getlist();">جست و جو</button>
                <button type="button" class="btn btn-cancel" ng-click="search.clear();">پاک کردن</button>
            </div>
        </div>
    </div>
    <portal-grid obj="grid"></portal-grid>
</section>
<section ng-show="['add','edit'].indexOf(main.state) !== -1">
    <h2 class="main-title" ng-show="main.state==='add'">افزودن تصویر کشویی</h2>
    <h2 class="main-title" ng-show="main.state==='edit'">ویرایش تصویر کشویی</h2>
    <div id="sliderSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div ng-show="Model.errors.length" class="alert alert-danger">
                        <ul ng-repeat="row in Model.errors">
                            <li>{{row}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="Title" class="control-label">عنوان تصویر کشویی</label>
                        <input type="text" class="form-control" ng-model="Model.Title" placeholder="عنوان تصویر کشویی شما در قسمت اسلایدر در زیر عکس در سایت قرار می گیرد">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="Title" class="control-label">لینک</label>
                        <input type="text" class="form-control" ng-model="Model.Url" placeholder="آدرس را وارد نمایید">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="Title" class="control-label">اولیویت</label>
                        <input type="text" class="form-control" ng-model="Model.Priority" placeholder="اولویت نمایش تصویر کشویی را وارد نمایید">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="IsShow" class="control-label">نمایش</label>
                        <select class="form-control" ng-model="Model.Enabled">
                            <option ng-repeat="row in enableMenuType" ng-value="row.Model">{{row.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <portal-upload obj="pic"></portal-upload>
                </div>
            </div>
        </div>
            <div class="btn-group-justified pull-left mb-5">
                <button type="submit" ng-click="addSlider()" ng-show="main.state==='add'" class="btn btn-success">افزودن</button>
                <button type="submit" ng-click="editSlider()" ng-show="main.state==='edit'" class="btn btn-primary">ویرایش</button>
                <button type="button" ng-click="main.changeState.cartable();" class="btn btn-cancel">بازگشت</button>
            </div>
    </div>
</section>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>
