@{Layout = null;}
<div class="card">
    <div class="card-body"style="height:400px;">
        <div class="text-center m-auto" >
            <label style="margin-top:100px;font-size:40px">سبد خالی است</label>
        </div>
        
    </div>
</div>

