<section ng-show="main.state ==='cartable'">
    <h2 class="main-title">کارتابل مدیریت نظرات اخبار</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <strong>نوع درخواست:</strong>
                    <div class="d-inline">
                        <div class="d-inline-block p-1"><a ng-class="{ 'alert-link': search.Model.CommentType == 1 ,'text-success':search.Model.CommentType == 1 }" ng-click="search.Model.CommentType = 1;grid.getlist();">در حال بررسی</a></div>
                        <div class="d-inline-block p-1"><a ng-class="{ 'alert-link': search.Model.CommentType == 2 ,'text-success':search.Model.CommentType == 2 }" ng-click="search.Model.CommentType = 2;grid.getlist();">تایید شده</a></div>
                        <div class="d-inline-block p-1"><a ng-class="{ 'alert-link': search.Model.CommentType == 3 ,'text-success':search.Model.CommentType == 3 }" ng-click="search.Model.CommentType = 3;grid.getlist();">عدم تایید</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <portal-grid obj="grid"></portal-grid>
</section>

<section ng-show="['add','edit'].indexOf(main.state) !== -1" id="newsCommentSection">
    <h2 class="main-title" ng-show="main.state ==='add'">افزودن</h2>
    <h2 class="main-title" ng-show="main.state ==='edit'">ویرایش</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div ng-show="Model.errors.length" class="alert alert-danger">
                    <ul ng-repeat="row in Model.errors">
                        <li>{{row}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label for="CategorySub" class="control-label">عنوان خبر</label>
                <span class="text-info">{{Model.NewsTitle}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="CategorySub" class="control-label">نظر</label>
                <textarea froala="froalaOptionComment" class="form-control" ng-model="Model.Body" name="body" ng-required="false"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="CategorySub" class="control-label">وضعیت نظر</label>
                <select class="form-control" ng-model="Model.CommentType">
                    <option ng-repeat="row in selectCommentType" ng-value="row.Model">{{row.Name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="btn-group-justified pull-left mb-5">
        <button type="submit" ng-click="editComment()" class="btn btn-primary">ویرایش</button>
        <button type="button" ng-click="main.changeState.cartable();" class="btn btn-cancel">بازگشت</button>
    </div>
</section>


<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>

