<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AccessTokenExpireTimeSpan" value="60" />
  <add key="ApplicationID" value="2C321EC4-EEDC-4292-807E-80497E280266" />

  <add key="MerchantIdMelli" value="1694" />
  <add key="MerchantKeyMelli" value="YjdjYmZhNGY4NDQ5NTI3NThhNzY1MTI5" />
  <add key="TerminalIdMelli" value="tC4Nkmug" />
  <add key="PurchasePageMelli" value="http://banktest.ir/gateway/melli"/>
  <add key="RedirectPath" value="http://localhost:61837/redirect/index"/>
</appSettings>