<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AccessTokenExpireTimeSpan" value="60" />
  <add key="ApplicationID" value="2C321EC4-EEDC-4292-807E-80497E280266" />

  <add key="MerchantIdMelli" value="000000140332117" />
  <add key="MerchantKeyMelli" value="1xv54nlBuan/DpldQw6yR8OkmwsEsFTy" />
  <add key="TerminalIdMelli" value="24053435" />
  <add key="PurchasePageMelli" value="https://sadad.shaparak.ir"/>
  <add key="RedirectPath" value="www.google.com"/>
</appSettings>