<h2 class="main-title">تغییر رمز عبور</h2>
<div class="card">
    <div class="alert alert-danger" ng-show="Model.errors.length > 0">
        <ul ng-repeat="row in Model.errors">
            <li>{{row}}</li>
        </ul>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>کلمه عبور فعلی</label>
                        <input type="password" class="form-control" ng-model="Model.OldPassword" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>کلمه عبور جدید</label>
                        <input type="password" class="form-control" ng-model="Model.NewPassword" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>تکرار کلمه عبور جدید</label>
                        <input type="password" class="form-control" ng-model="Model.ReNewPassword" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-xs-12 col-sm-4">

            </div>
            <div class="form-group col-xs-12 col-sm-4">

            </div>

            <div class="form-group col-xs-12">
                <hr />

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group-justified pull-left">
            <button class="btn btn-success" ng-click="changePassword()">ثبت</button>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>