<section ng-show="state ==='cartable'">
    <button class="btn btn-success btn-circle pull-left" ng-click="main.changeState.add();"><i class="fa fa-plus"></i></button>
    <div class="card">
        <div class="card-header">
            <div class="pull-left" title="جست و جو" ng-click="search.searchPanel = !search.searchPanel"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <div class="card-body" ng-show="search.searchPanel">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">نوع بنر</label>
                        <select class="form-control" ng-model="search.Model.BannerType">
                            <option ng-repeat="row in search.bannerType" ng-value="row.Model">{{row.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-group-justified pull-left">
                <button type="button" class="btn btn-primary" ng-click="grid.getlist();">جست و جو</button>
                <button type="button" class="btn btn-cancel" ng-click="search.clear();">پاک کردن</button>
            </div>
        </div>
    </div>
    <portal-grid obj="grid"></portal-grid>
</section>

<section ng-show="['add','edit'].indexOf(state) !== -1">
    <h2 class="main-title" ng-show="state==='add'">افزودن بنر</h2>
    <h2 class="main-title" ng-show="state==='edit'">ویرایش بنر</h2>
    <div id="dynamicPageSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div ng-show="Model.Errors.length" class="alert alert-danger">
                        <ul ng-repeat="row in Model.Errors">
                            <li>{{row}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body form-horizontal">
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="Name" class="control-label">نام بنر</label>
                            <input type="text" class="form-control" ng-model="Model.Name" placeholder="نام بنر شما">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="Description" class="control-label">توضیحات</label>
                            <textarea rows="3" cols="3" class="form-control" ng-model="Model.Description" placeholder="توضیحات مربوط به بنر را وارد نمایید" />
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="Enabled" class="control-label">نوع بنر</label>
                                        <select class="form-control" ng-model="Model.BannerType">
                                            <option ng-repeat="row in bannerType" ng-value="row.Model">{{row.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="Enabled" class="control-label">نمایش</label>
                                        <select class="form-control" ng-model="Model.Enabled">
                                            <option ng-repeat="row in enableType" ng-value="row.Model">{{row.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <portal-upload obj="pic"></portal-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group-justified pull-left mb-5">
            <button type="submit" ng-click="addBanner()" ng-show="state==='add'" class="btn btn-success">ثبت</button>
            <button type="submit" ng-click="editBanner()" ng-show="state==='edit'" class="btn btn-primary">ویرایش</button>
            <button ng-click="main.changeState.cartable();" class="btn btn-cancel">بازگشت</button>
        </div>
    </div>
</section>

<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>


