<div class="card">
    <div class="card-header">
        <span class="card-title">کارتابل مدیریت محصولات</span>
        <button class="btn btn-success btn-circle pull-left" ng-click="goToPageAdd();"><i class="fa fa-plus"></i></button>
    </div>
    <div class="card-body">
        <portal-grid obj="grid"></portal-grid>
    </div>
</div>