<style>
    .tab-content {
        margin-top: 35px;
    }

    .control-label {
        text-align: right !important;
    }

    .pad-radio {
        padding: 5px;
    }

    .record {
        margin-top: 2px;
        line-height: 30px;
        padding: 10px;
    }

    .weight {
        margin-right: 0px !important;
    }
</style>
<h2 class="main-title" ng-show="state === 'add'">افزودن محصول</h2>
<h2 class="main-title" ng-show="state === 'edit'">ویرایش محصول</h2>
<section ng-show="['add','edit'].indexOf(state) !== -1">
    <div class="card-body">
        <div id="ProductError" ng-show="Model.Errors.length" class="alert alert-danger">
            <ul ng-repeat="row in Model.Errors">
                <li>{{row}}</li>
            </ul>
        </div>
        <div class="alert alert-danger" ng-show="category.Model.HasDiscountsApplied">
            <span>این محصول دارای تخفیف بصورت گروهی می باشد</span>
        </div>
        <div class="form-horizontal">
            <uib-tabset class="form-tab" active="active" style="padding:10px">
                <uib-tab heading="اطلاعات کلی محصول">
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="Name" class="control-label">نام محصول</label>
                            <input type="text" class="form-control" required ng-model="Model.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="Category" class="control-label"> دسته بندی</label>
                            <select class="form-control" ng-model="Model.CategoryID">
                                <option ng-repeat="row in categoryType" ng-value="row.Model">{{row.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="Description" class="control-label">توضیحات کوتاه</label>
                            <textarea froala="froalaOption" class="form-control" ng-model="Model.ShortDescription" name="ShortDescription" ng-required="false"></textarea>
                        </div>
                    </div>
                    <div class="container record">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AllowCustomerReviews" class="control-label">امکان افزودن نظر برای محصول فوق، توسط کاربران صورت پذیرد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="AllowCustomerReviewsYes" ng-model="Model.AllowCustomerReviews" ng-value="true"><span class="pad-radio">بله</span>
                                    <input type="radio" id="AllowCustomerReviewsNo" ng-model="Model.AllowCustomerReviews" ng-value="false"><span class="pad-radio">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="CallForPrice" class="control-label">جهت اطلاع از آخرین قیمت محصول فوق، تماس گرفته شود؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" ng-model="Model.CallForPrice" ng-value="true"><span class="pad-radio">بله</span>
                                    <input type="radio" ng-model="Model.CallForPrice" ng-value="false"><span class="pad-radio">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="ShowOnHomePage" class="control-label">محصول فوق، در اول سایت قرار گیرد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" ng-model="Model.ShowOnHomePage" ng-value="true"><span class="pad-radio">بله</span>
                                    <input type="radio" ng-model="Model.ShowOnHomePage" ng-value="false"><span class="pad-radio">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="Published" class="control-label">محصول فوق، در سایت قرار گیرد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" ng-model="Model.Published" ng-value="true"><span class="pad-radio">بله</span>
                                    <input type="radio" ng-model="Model.Published" ng-value="false"><span class="pad-radio">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="SpecialOffer" class="control-label">محصول فوق، در پیشنهاد ویژه قرار گیرد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" ng-model="Model.SpecialOffer" ng-value="true"><span class="pad-radio">بله</span>
                                    <input type="radio" ng-model="Model.SpecialOffer" ng-value="false"><span class="pad-radio">خیر</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>وزن محصول</label>
                                <input type="text" class="form-control" ng-model="Model.Weight" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>طول محصول</label>
                                <input type="text" class="form-control" ng-model="Model.Length" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>عرض محصول</label>
                                <input type="text" class="form-control" ng-model="Model.Width" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>ارتفاع محصول</label>
                                <input type="text" class="form-control" ng-model="Model.Height" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:30px;">
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>قیمت</label>
                                <input type="text" class="form-control" ng-model="Model.Price" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>موجودی محصول</label>
                                <input type="text" class="form-control" ng-model="Model.StockQuantity" />
                            </div>

                        </div>
                        <div class="row" style="margin-top:30px;">
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>اعمال تخفیف</label>
                                <select class="form-control" ng-model="Model.HasDiscount">
                                    <option ng-repeat="row in hasDiscountType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight" ng-show="Model.HasDiscount">
                                <label>نوع تخفیف</label>
                                <select class="form-control" ng-model="Model.DiscountType">
                                    <option ng-repeat="row in selectDiscountType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight" ng-show="Model.HasDiscount && Model.DiscountType">
                                <label ng-show="Model.DiscountType === 1">مبلغ تخفیف</label>
                                <label ng-show="Model.DiscountType === 2">درصد تخفیف</label>
                                <input type="text" class="form-control" ng-model="Model.Discount" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>نوع ارسال محصول</label>
                                <select class="form-control" ng-model="Model.ShippingCostID">
                                    <option ng-repeat="row in shippingCost" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-3 weight">
                                <label>زمان بندی ارسال محصول</label>
                                <select class="form-control" ng-model="Model.DeliveryDateID">
                                    <option ng-repeat="row in deliveryDate" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="بررسی تخصصی محصول">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea froala="froalaOptions" class="form-control" ng-model="Model.FullDescription" name="FullDescription" ng-required="false"></textarea>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab heading="سئو">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="CategorySub" class="control-label">عنوان متاتگ</label>
                                <input type="text" class="form-control" required ng-model="Model.MetaTitle" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="CategorySub" class="control-label">کلید واژه</label>
                                <input type="text" class="form-control" required ng-model="Model.MetaKeywords" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="CategorySub" class="control-label">توضیحات متاتگ</label>
                                <input type="text" class="form-control" required ng-model="Model.MetaDescription" />
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-outline-info" ng-click="relatedProductModal();">افزودن محصولات مرتبط</button>
                                    <portal-grid obj="relatedProduct.relatedProductGrid"></portal-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="افزودن فیلدهای عمومی" ng-show="state === 'edit'">
                    <div class="container" ng-show="ProductVariant.Parent">
                        <div class="row form-inline">
                            <div class="form-group">
                                <label for="attributeProduct" class="control-label mr-sm-2"> انتخاب</label>
                                <select class="form-control mb-2 mr-sm-2" style="width:300px" ng-model="Attribute.Model.ProductAttributeID">
                                    <option ng-repeat="row in attributeType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="attributeProduct" class="control-label mr-sm-2">توضیحات</label>
                                <input type="text" ng-model="Attribute.Model.TextPrompt" class="form-control mb-2 mr-sm-2" />
                            </div>
                            <button type="button" class="btn btn-success mb-2" ng-click="addProductMapAttribute()">ثبت</button>
                        </div>
                    </div>
                    <div class="container" style="margin-top:20px;" ng-show="ProductVariant.Parent">
                        <div class="card">
                            <div class="card-body">
                                <portal-grid obj="Attribute.grid"></portal-grid>
                            </div>
                        </div>
                    </div>
                    <div class="container" ng-show="ProductVariant.showGrid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <span class="card-title">مشاهده زیر گروه</span>
                                        <button type="button" class="btn pull-left btn-outline-danger" ng-click="ProductVariant.Parent=true;ProductVariant.showGrid=false;">بازگشت</button>

                                    </div>
                                    <div class="card-body">
                                        <portal-grid obj="ProductVariant.grid"></portal-grid>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </uib-tab>
                @*<uib-tab heading="ویژگی های برتر محصول" ng-show="state === 'edit'">
                        <div class="alert alert-info">در حال پیاده سازی</div>
                    </uib-tab>*@
                <uib-tab heading="افزودن تصاویر محصول" ng-if="Model.ID && state === 'edit'">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <portal-upload obj="pic"></portal-upload>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                @*<uib-tab heading="افزودن فایل محصول" ng-if="Model.ID && state === 'edit'">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">آیا این فایل برای دانلود پس از پرداخت می باشد ؟</label>
                                        <div class="d-inline">
                                            <input type="radio" ng-model="Model.IsDownload" ng-value="true"><span class="pad-radio">بله</span>
                                            <input type="radio" ng-model="Model.IsDownload" ng-value="false"><span class="pad-radio">خیر</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <portal-upload obj="file"></portal-upload>
                                </div>
                            </div>
                        </div>
                    </uib-tab>*@
            </uib-tabset>
        </div>
    </div>
    <div class="btn-group-justified pull-left mb-5">
        <button type="button" class="btn btn-primary" ng-click="editProduct();" ng-if="state === 'edit'">ویرایش</button>
        <button type="button" class="btn btn-success" ng-click="addProduct();" ng-if="state === 'add'">ثبت</button>
        <a type="button" class="btn btn-cancel" role="button" href="#product-cartable">بازگشت</a>
    </div>
</section>

<!--attribute modal-->
<div class="modal fade" dir="rtl"
     id="attribute-modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" dir="rtl">
            <div class="modal-header">
                <h2 class="main-title">ویژگی های محصول</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="CategorySub" class="control-label">نام</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="ProductVariant.Model.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CategorySub" class="control-label">قیمت</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="ProductVariant.Model.Price" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pull-left">
                <button type="button" class="btn btn-success" ng-click="addProductVarient()">ثبت</button>
                <button class="btn btn-cancel" data-dismiss="modal">انصراف</button>
            </div>
        </div>
    </div>
</div>

<!--related product select modal-->
<div class="modal fade" dir="rtl"
     id="related-product-select-modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" dir="rtl">
            <div class="modal-header">
                <h2 class="main-title">لیست محصولات</h2>
            </div>
            <div class="modal-body">
                <portal-grid obj="relatedProduct.listProductGrid"></portal-grid>
            </div>
            <div class="modal-footer pull-left">
                <button class="btn btn-success" ng-click="addRelatedProduct();">افزودن</button>
                <button class="btn btn-cancel" data-dismiss="modal">انصراف</button>
            </div>
        </div>
    </div>
</div>

<!--related product modal-->
<div class="modal fade" dir="rtl"
     id="related-product-modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" dir="rtl">
            <div class="modal-header">
                <h2 class="main-title">ویرایش محصول مرتبط</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="CategorySub" class="control-label">نام محصول</label>
                        <div class="col-md-10">
                            <label class="control-label">{{relatedProduct.Model.ProductName2}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CategorySub" class="control-label">اولویت</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" ng-model="relatedProduct.Model.Priority" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pull-left">
                <button class="btn btn-primary" ng-click="editRelatedProduct();">ویرایش</button>
                <button class="btn btn-cancel" data-dismiss="modal">انصراف</button>
            </div>
        </div>
    </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>
