@model List<Download>
@{
    if (Model != null && Model.Count > 0)
    {
        <div class="row mt-4">
            <div class="col-md-12">
                <section class="mt-4 w-50 text-center mx-auto">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <div class="control-label">
                                        <i class="fa fa-info-circle text-info"></i>
                                        <label class="text-primary">
                                            لینک های دانلود
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Comment</td>
                                    <td>
                                        <a href="" class="btn btn-primary">دانلود</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    }
}
