@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<FM.Portal.Core.Model.FaqGroupListVM>
@section bannerSection{
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="~/Content/img/faq.png" class="" />
        </div>
    </div>

}
@section bodySection{
        <div class="row">
            @{
                foreach (var item in Model)
                {
                    <div class="col-lg-6 select" data-value="@item.ID">
                        <ul class="list-group">
                            <li class="list-group-item">
                                @item.Title
                                <span class="badge">@item.Total</span>
                            </li>
                        </ul>
                    </div>
                }
            }
        </div>
}
@section scripts{
    <script>
        (() => {
            var select = $('.select');
            select.each(function (index) {
                var $this = $(this);
                $this.on('click', function () {
                    var value = $this.data('value');
                    window.location.href = `/faq/index/${value}`;
                })
            })
        })();
    </script>
}
