
@{
    ViewBag.Title = "افزودن آدرس جدید";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <span class="card-title">افزودن آدرس جدید</span>
    </div>
    @using (Html.BeginForm("Create", "Address", FormMethod.Post))
    {
        <div class="card-body form-horizontal">

            <div class="form-group">
                <label for="postalCode" class="col-md-1 control-label">کد پستی</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" />
                </div>
            </div>
            <div class="form-group">
                <label for="Address" class="col-md-1 control-label">آدرس</label>
                <div class="col-md-9">
                    <textarea class="form-control" id="Address" name="Address" style="resize:none;"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="pull-left">
                <button type="submit" class="btn btn-success">افزودن</button>
                <a href="@Url.RouteUrl("User_AddressList")" class="btn btn-cancel">بازگشت</a>
            </div>
        </div>
    }
</div>

