@model FM.Portal.Core.Model.UserAddress
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">ویرایش آدرس</span>
    </div>
    <div class="panel-body form-horizontal">
        @using (Html.BeginForm("Edit", "Address", FormMethod.Post))
        {
            
            <div class="form-group">
                <label for="postalCode" class="col-md-1 control-label">کد پستی</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(a=>a.PostalCode , new { @class="form-control"})
                </div>
            </div>
            <div class="form-group">
                <label for="Address" class="col-md-1 control-label">آدرس</label>
                <div class="col-md-9">
                    @Html.TextAreaFor(a => a.Address, htmlAttributes: new { rows = "2", @class = "form-control",@style="resize:none;" })
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default">بازگشت</button>
                <button type="submit" class="btn btn-success">ویرایش</button>
            </div>
        }
    </div>
</div>


