.toggle-sidebar {
    padding-right: 15px !important;
}

#sidebar.toggle-sidebar {
    display: none;
}

@media screen and (max-width: 767px) {
    /* wrapper */
    #wrapper {
        padding-right: 15px;
    }
    /* sidebar */
    #sidebar {
        display: block;
        width: 100% !important;
    }

        #sidebar.toggle-sidebar {
            display: none;
        }

    #sidebar-close {
        display: inline-block !important;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#wrapper {
    padding-right: 265px;
    z-index: 0;
    height: 100vh;
    padding-left: 15px;
}

#sidebar {
    position: fixed;
    right: 0;
    background-color: #16293c;
    color: #e0e3e6;
    width: 250px;
    z-index: 10;
    height: 100vh;
    overflow: auto;
}

#sidebar-close {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

#sidebar-title {
    padding-top: 5px;
}

#sidebar-title-image {
    text-align: center;
    padding-top: 5px;
}

#sidebar-user {
    border-bottom: 1px solid #6e6e6e;
}

#sidebar-user-info {
    text-align: center;
    margin-bottom: 45px;
    padding-top: 10px;
}

#sidebar-position-info {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 10px;
    background-color: #16232f;
    ;
    color: white;
}

#sidebar-menu > div {
    padding: 0;
}

#sidebar-menu-container {
    margin-bottom: 50px;
}

    #sidebar-menu-container > .panel {
        border: 0px;
    }

    #sidebar-menu-container .panel-heading {
        background-color: #25374a !important;
        color: #e0e3e6;
        cursor: pointer;
        border-radius: 0;
        border-bottom: 1px solid #6e6e6e;
    }

    #sidebar-menu-container .list-group {
        padding: 0;
        margin: 0px !important;
    }

    #sidebar-menu-container .list-group-item {
        background-color: #e0e3e6;
        cursor: pointer;
        padding: 0;
    }

        #sidebar-menu-container .list-group-item a {
            text-decoration: none;
            color: #2a3f54;
            display: block;
            padding: 10px 15px;
        }

#toolbar {
    background-color: #16293c;
}

    #toolbar > div {
        height: 40px;
        padding: 0 0 0 15px;
    }

#sidebar-switch {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

    #sidebar-switch i {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

#content {
    background-color: #ffffff;
    padding: 15px;
}

    #content > div {
        padding: 15px;
        overflow-y: scroll;
        height: calc(100vh - 40px);
    }

.menu {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.showbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: calc(50vh - 50px);
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 9999;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

    .loader:before {
        content: '';
        display: block;
        padding-top: 0 !important;
    }

#sidebar-footer {
    width: 250px;
    height: 50px;
    background-color: #141e28;
    color: #6f93b7;
    bottom: 0;
    right: 15px;
    margin-bottom: 0;
    position: fixed;
    text-align: center;
}

    #sidebar-footer div {
        height: 50px;
        position: relative;
        cursor: pointer;
        margin-top: 2px;
    }

        #sidebar-footer div span {
            font-size: 12px;
        }

    #sidebar-footer i {
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #sidebar-footer div span.temp-fix {
        left: 5px;
        position: relative;
    }

    #sidebar-footer div:hover {
        background-color: #223243;
        color: #e0e3e6;
    }
